<div class="wrapper full banner">
  <div class="container">
    <div class="flex-container wrap grid-50-0">
        <div class="flex-item">
            <div class="block">

            <h3>Banner Title</h3>
                <p>Banner description here</p>
                <a class="cta">View more</a>
            </div>

        </div>

    </div>
    </div>
</div>