<div class="wrapper full features">
  <div class="container">

        <h2>Recipes</h2>
        <h3>with some text</h3>


    <ul class="flex-container wrap grid-50">
      <li class="flex-item">
        <div class="block">
          <h3>Recipe Title</h3>
          <p>with some text</p>
        </div>
      </li>
      <li class="flex-item">
        <div class="block">
          <h3>Recipe Title</h3>
          <p>with some text</p>
        </div>
      </li>
      <li class="flex-item">
        <div class="block">
          <h3>Recipe Title</h3>
          <p>with some text</p>
        </div>
      </li>
      <li class="flex-item">
        <div class="block">
          <h3>Recipe Title</h3>
          <p>with some text</p>
        </div>
      </li>
    </ul>
  </div>
</div>