<div class="footer">
    <div class="container">
        <div class="grid grid-33 grid-double">
            <div class="grid-item">
                <p>Umami Magazine & Umami Publications is a fictional magazine and publisher for illustrative purposes only</p>
            </div>
            <div class="grid-item">
                <div class="links">

                    {{#link-to 'freestyle'}}
                        Freestyle
                    {{/link-to}}

                    {{#link-to 'contact'}}
                        Contact
                    {{/link-to}}

                </div>
                <p>2017 Terms & Conditions</p>
            </div>
        </div>
    </div>
</div>


