<header class="wrapper">
    <div class="menu">
        {{#link-to 'index'}}
            <h1>
                Umami<span>Food magazine</span>
            </h1>
        {{/link-to}}
        <div class="links">
            {{#link-to 'about'}}
                About
            {{/link-to}}
            {{#link-to 'contact'}}
                Contact
            {{/link-to}}

            {{#link-to 'categories'}}
                Categories
            {{/link-to}}

            {{#link-to 'reviews'}}
                Reviews
            {{/link-to}}

            {{#link-to 'articles'}}
                Articles
            {{/link-to}}

            {{#link-to 'recipes'}}
                Recipes
            {{/link-to}}

        </div>
    </div>
</header>