<header class="wrapper">
    <div class="menu">
        {{#link-to 'index'}}
            <h1>
                Umami<span>Food magazine</span>
            </h1>
        {{/link-to}}
    </div>
</header>