<div class="wrapper full highlight">
  <div class="container">
    <ul class="flex-container wrap grid-0-50">
      <li class="flex-item">
        <div class="block">
          <h2>In this month's editon</h2>
          <p>Some content here</p>
          <a class="cta">View more</a>
        </div>
      </li>
    </ul>
  </div>
</div>