<div class="wrapper full highlight">
  <div class="container">
    <ul class="grid grid-50 grid-last">
      <li class="grid-item">
        <div class="block">
          <h2>In this month's editon</h2>
          <p>Some content here</p>
          <a class="cta">View more</a>
        </div>
      </li>
    </ul>
  </div>
</div>