<div class="card-content">

    {{#if (eq recipe.isPromoted true)}}
    <h4 class="is-promoted">Our recipe pick</h4>
    {{/if}}

    <h3 class="card-title">
        {{#link-to 'recipes.recipe' recipe.id}}{{recipe.title}}{{/link-to}}
    </h3>

</div>

<div local-class="card-image" class="card-image">

 <img src="{{recipe.image.thumbnail.url}}" alt="{{recipe.imageFile.url}}">
</div>
