
    <div class="wrapper promoted">
      <div class="container">
        <ul class="flex-container wrap grid-25 double">
          <li class="flex-item">
            <div class="block">
              <h3>Promoted Item</h3>
              <p>with some text</p>
            </div>
          </li>
          <li class="flex-item">
            <div class="block">
              <h3>Promoted Item</h3>
              <p>with some text</p>
            </div>
          </li>
          <li class="flex-item">
            <div class="block">
              <h3>Promoted Item</h3>
              <p>with some text</p>
            </div>
          </li>
        </ul>
      </div>
    </div>