<article class="listing">
    <div class="detail category">
        <span>Category:</span> {{recipe.category.name}}
    </div>
      <div class="detail image">
      {{#each recipe.image as pic}}
          <span>Imag:</span> {{pic.imageFile.url }} <img src="{{pic.imageFile.url}}" alt="">
      {{/each}}
    </div>
</article>