<div class="wrapper themes">
  <div class="container">
    <ul class="grid grid-25">
      <li class="grid-item">
        <div class="block">

            {{#promoted-filter filter=(action 'recipeThemes')as |themeList|}}
                    <ul class="grid grid-25">
                        {{#each themeList as |theme|}}
                            <li class="grid-item">
                                {{#link-to 'themes.theme' theme.id}}
                                    <h3>{{theme.name}}</h3>
                                    <p>{{theme.description.value}}</p>
                                {{/link-to}}
                            </li>
                        {{/each}}
                    </ul>
            {{/promoted-filter}}

        </div>
      </li>
    </ul>
  </div>
</div>