<div class="wrapper themes">
  <div class="container">
    <ul class="grid grid-25">
      <li class="grid-item">
        <div class="block">
          <h3>Theme Title</h3>
          <p>with some text</p>
        </div>
      </li>
      <li class="grid-item">
        <div class="block">
          <h3>Theme Title</h3>
          <p>with some text</p>
        </div>
      </li>
      <li class="grid-item">
        <div class="block">
          <h3>Theme Title</h3>
          <p>with some text</p>
        </div>
      </li>
      <li class="grid-item">
        <div class="block">
          <h3>Theme Title</h3>
          <p>with some text</p>
        </div>
      </li>
    </ul>
  </div>
</div>