@import url('//fonts.googleapis.com/css?family=Roboto+Slab');

$roboto: 'Roboto Slab', serif;

$white: #FFFFFF;
$black: #010101;

$green: #2ecc71;
$blue: #3498db;
$yellow: #f1c40f;
$red: #e74c3c;
$orange: #E64A19;

$grey-bg: #FCFBF7;
$grey-light: #F4F2E9;
$grey-med: #E5E1D1;
$grey-dark: #737373;

// breakpoints

$large: 800px;
$medium: 640px;

$border-radius: 4px;

html {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}


