body {
  background: red;
}

@media (min-width: 768px) {
  .recipe-list[_ngcontent-c10] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}