<div class="wrapper">
    <div class="container">

        <h2>Recipe themes</h2>

        <p>Maybe this is more like the Feature section of the site</p>

        <ul>
            {{#each themes as |theme|}}
                <li>{{theme.name}}</li>
            {{/each}}

        </ul>

    </div>
</div>

{{outlet}}