<div class="wrapper">
    <div class="container theme">
        <div class="content">
          <div class="title text-center">
            <h2>Theme</h2>
            <h3>{{theme.name}}</h3>
            <p>{{theme.description.value}}</p>
          </div>
        </div>
    </div>
</div>

{{outlet}}