{{#if category}}

<div local-class="card-image" class="card-image">

  <img src="{{category.category_image.thumbnail.url}}" alt="{{category.categoryImageFile.url}}">

</div>

<h3 class="card-title">
    {{#link-to 'categories.category' category.id}}{{category.name}}{{/link-to}}
</h3>

<div class="card-content">

    {{#link-to 'categories.category' category.id class='button' aria-disabled='false' tabindex='0'}}View recipes{{/link-to}}

</div>

    {{else}}

    <p>Sorry, There aren't any categories at this time.</p>

{{/if}}