<!-- This is just an example of the api output, for ease of development. The recipe should be built with components.-->

<div class="container">
  <div class="category">
    <div class="content">
      <div class="title text-center">
        <h3>{{category.name}}</h3>
      </div>
    </div>
  </div>
</div>

{{outlet}}