<div class="collections">
    <div class="container">
        <h3>Recipe collections</h3>

        <ul>
            {{#each categories as |category|}}
                <li>{{category.name}}</li>
            {{/each}}

            <li>Breads</li>
            <li>Catalan</li>
            <li>Fish</li>
            <li>French</li>
            <li>Healthy</li>
            <li>Italian</li>
            <li>Japanese</li>
            <li>Low carb</li>
            <li>Meat</li>
            <li>Nut-free</li>
            <li>Pastry</li>
            <li>Vegan</li>
            <li>Vegetarian</li>
        </ul>
    </div>
</div>

{{outlet}}