<div class="wrapper">
    <div class="container">

        <h2>Recipe categories</h2>

<p>this should mirror the recipe listing pages, provide the taxonomy terms have images</p>

        <ul>
            {{#each categories as |category|}}
                <li>{{category.name}}</li>
            {{/each}}

        </ul>

    </div>
</div>

{{outlet}}