<div class="wrapper">
    <div class="container">

        <h2>Recipe categories</h2>

        <ul class="grid grid-25">
            {{#each categories as |category|}}
                <li class="grid-item card">{{category-listing/category-listing category=category}}</li>
            {{/each}}
        </ul>
    </div>
</div>