<div class="hero">
    <div class="container">
        {{yield}}
        <h3>Recipe title</h3>
        <div class="block">
            <p>recipe description here</p>
        </div>

        <a class="cta">View recipe</a>
    </div>
</div>