<div class="container">
  <div class="review">
    <div class="content">
      <div class="title text-center">
        <h3>{{review.title}}</h3>
        <p>{{review.body}}</p>
      </div>
    </div>
  </div>
</div>

{{outlet}}