<h2>Main Course</h2>

{{#list-filter filter=(action 'filterByCategory')as |recipeList|}}
    <ul class="flex-container wrap">
        {{#each recipeList as |recipe|}}
            <li class="flex-item">{{recipe-listing/recipe-listing recipe=recipe}}</li>
        {{/each}}
    </ul>
{{/list-filter}}

<h2>Starters</h2>
{{#list-filter filter=(action 'filterByCategory')as |recipeList|}}
<ul class="flex-container wrap">
    {{#each recipeList as |recipe|}}
        <li class="flex-item">{{recipe-listing/recipe-listing recipe=recipe}}</li>
    {{/each}}
</ul>
{{/list-filter}}

{{outlet}}


