<h2>Recipes</h2>
    <ul class="flex-container wrap">
        {{#each recipes as |recipe|}}
            <li class="flex-item">{{recipe-listing/recipe-listing recipe=recipe}}</li>
        {{/each}}
    </ul>
{{outlet}}
