<div class="wrapper">
    <div class="container article">
        <div class="content">
          <div class="title text-center">
            <h3>{{article.title}}</h3>
            <p>{{article.body}}</p>
          </div>
        </div>
    </div>
</div>

{{outlet}}